html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ultra', serif;
  color: #8f0909;
  /* background: ; */
}

.root {
  width: 100%;
}

header {
  background-color: #054d74;
  padding: 2rem 2rem 2rem 2rem;
}

header img {
  width: 50%;
}

.container {
  width: 100%;
  display: flex;
}

#bioContainer {
  /* display: flex;
    padding-left: 4rem;
    padding-right: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
    color: #1a0578; */

  height: auto;
  padding-left: 4rem;
  padding-right: 6rem;
  background-color: #08ab1e;
  padding-bottom: 2rem;
}

#adopted-container {
  width: 30%;
  height: auto;
  padding-left: 4rem;
  padding-right: 6rem;
  background-color: #08ab1e;
  padding-bottom: 2rem;
}

#adopted-container div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Navbar {
  padding: 8px 32px;
  height: 64px;
  position: relative;
}

#current-animals {
  width: 80%;
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

#current-animals div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 40px;
  background-color: rgb(231, 225, 225);
  align-items: center;
  padding: 1rem;
}

#current-animals .card {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

#adopted-container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.card img {
  width: 18em;
  height: 18em;
}

button {
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  background-color: #f3270c;
  color: white;
  font-family: 'Ultra', serif;
  font-size: 1rem;
}



 .App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.FormField {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
